<div class="container">
  <div class="nav">
    <a href={{ .Site.BaseURL | relURL }} class="nav-logo">
      <div class="logo-area">
        <img src="{{ "images/logo.png" | absURL }}" alt="logo">
        <div>
          <div class="logo-title">{{ .Site.Title }}</div>
          <div class="tagline">{{ .Site.Params.slogan }}</div>
        </div>
      </div>
    </a>
    <nav class="nav-links">
      {{ $pages := first 3 (where site.RegularPages "Section" "projects") }}
        {{ if gt (len $pages) 0 }}
          <a href={{ "#projects" | relURL }}>Projects</a>
        {{ end }}
      <a href={{ "#about" | relURL }}>What we do</a>
      <a href={{ "#join" | relURL }}>Join</a>
      {{ $pages := first 3 (where site.RegularPages "Section" "posts") }}
        {{ if gt (len $pages) 0 }}
          <a href={{ "posts/" | relURL }}>Notes</a>
        {{ end }}

    </nav>
    <a class="nav-cta" href="https://{{ site.Params.git }}" target="_blank" rel="noreferrer">
      GitHub
      <span aria-hidden="true">↗</span>
    </a>
  </div>
</div>