<div class="container">
  <div class="nav">
    <a href="/">
      <div class="logo-area">
        <img src="/images/logo.png" alt="logo">
        <div>
          <div class="logo-title">{{ .Site.Title }}</div>
          <div class="tagline">{{ .Site.Params.slogan }}</div>
        </div>
      </div>
    </a>
    <nav class="nav-links">
      {{ $pages := first 3 (where site.RegularPages "Section" "projects") }}
        {{ if gt (len $pages) 0 }}
          <a href="/#projects">Projects</a>
        {{ end }}
      <a href="/#about">What we do</a>
      <a href="/#join">Join</a>
      {{ $pages := first 3 (where site.RegularPages "Section" "posts") }}
        {{ if gt (len $pages) 0 }}
          <a href="/posts">Notes</a>
        {{ end }}

    </nav>
    <a class="nav-cta" href="https://{{ site.Params.git }}" target="_blank" rel="noreferrer">
      GitHub
      <span aria-hidden="true">↗</span>
    </a>
  </div>
</div>